<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>823617941270-du7u1r2baqslln7l929f7hl3ktkb0q9i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.823617941270-du7u1r2baqslln7l929f7hl3ktkb0q9i</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>823617941270-rgsmbmvirv0rnbiehlj8iv3tebi7s3ql.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCPM8H-r8CgMB0ctbdAdzS2gN02N30uTQo</string>
	<key>GCM_SENDER_ID</key>
	<string>823617941270</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cirrusllc.fleek</string>
	<key>PROJECT_ID</key>
	<string>fleek-24620</string>
	<key>STORAGE_BUCKET</key>
	<string>fleek-24620.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:823617941270:ios:f60679e7c2e5b5cb4a6a37</string>
	<key>DATABASE_URL</key>
	<string>https://fleek-24620.firebaseio.com</string>
</dict>
</plist>